[submodule "Engine/ThirdParty/SDL"]
	path = Engine/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/ThirdParty/VulkanMemoryAllocator"]
	path = Engine/ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui/
    branch = docking
[submodule "Engine/ThirdParty/tinygltf"]
	path = Engine/ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Engine/ThirdParty/spdlog"]
	path = Engine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/ThirdParty/openal-soft"]
	path = Engine/ThirdParty/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "Engine/ThirdParty/libsndfile"]
	path = Engine/ThirdParty/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "Engine/ThirdParty/eigen"]
	path = Engine/ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen/
[submodule "Engine/ThirdParty/meshoptimizer"]
	path = Engine/ThirdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Engine/ThirdParty/googletest"]
	path = Engine/ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "Engine/ThirdParty/stb"]
	path = Engine/ThirdParty/stb
	url = https://github.com/nothings/stb
[submodule "Engine/ThirdParty/KTX-Software"]
	path = Engine/ThirdParty/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
